In [26]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
!pip install surprise
!pip install git+https://github.com/gbolmier/funk-svd
import surprise
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Requirement already satisfied: surprise in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (from surprise) (1.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.16.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Collecting git+https://github.com/gbolmier/funk-svd
  Cloning https://github.com/gbolmier/funk-svd to /tmp/pip-req-build-0ap_xcya
  Running command git clone -q https://github.com/gbolmier/funk-svd /tmp/pip-req-build-0ap_xcya
Requirement already satisfied: numba>=0.38.0 in /usr/local/lib/python3.6/dist-packages (from funk-svd==0.0.1.dev1) (0.40.1)
Requirement already satisfied: numpy>=1.14.3 in /usr/local/lib/python3.6/dist-packages (from funk-svd==0.0.1.dev1) (1.16.5)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from funk-svd==0.0.1.dev1) (0.24.2)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.0->funk-svd==0.0.1.dev1) (0.29.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->funk-svd==0.0.1.dev1) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->funk-svd==0.0.1.dev1) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.23.0->funk-svd==0.0.1.dev1) (1.12.0)
Building wheels for collected packages: funk-svd
  Building wheel for funk-svd (setup.py) ... done
  Created wheel for funk-svd: filename=funk_svd-0.0.1.dev1-cp36-none-any.whl size=8039 sha256=2b5aa85147536091ca797ce0fa04bdfc5bb630c8bd49edc5cc4b9f44d9fddeb1
  Stored in directory: /tmp/pip-ephem-wheel-cache-3hxlsnnk/wheels/66/f1/cb/e8147525b73388cc0bd5588c915e731ab65aba9a968e3ba455
Successfully built funk-svd
Installing collected packages: funk-svd
Successfully installed funk-svd-0.0.1.dev1

In [0]:
from funk_svd import SVD
from sklearn.metrics import mean_squared_error as RMSE

In [21]:
from funk_svd.dataset import fetch_ml20m_ratings
df = fetch_ml20m_ratings()
train = df.sample(frac=0.8, random_state=7)
train.head()

Downloading data...
Unzipping data...

            u_id   i_id  rating           timestamp
4913857   130395   2273     5.0 2000-08-08 17:54:37
10215290   24051   4621     3.5 2005-02-07 14:46:54
1471570   106069     39     3.0 1996-11-30 16:12:34
6901522    76737   4896     4.0 2001-12-10 18:16:51
16126621   76154  45081     2.0 2009-12-23 02:47:35

In [27]:
training_data = pd.read_csv('drive/My Drive/Homeworks/RecommendedSystem/itmo-rs-autumn2019-track1/train.csv')
training_data.head()

   id  user_id  item_id          ts  rating
0   0     5072     2390  1462413337       3
1   1     1641      820  1468236014       3
2   2     5835      679  1465083622       4
3   3     4323     3109  1465881772       3
4   4     1813      965  1474541439       2

In [29]:
recommending_matrix = training_data.loc[ : , ['user_id', 'item_id', 'rating' ]].sort_values('user_id')
recommending_matrix = recommending_matrix.rename(columns={'user_id' : 'u_id', 'item_id': 'i_id'})
recommending_matrix.head()

        u_id  i_id  rating
217110     2  1406       1
698905     2    51       1
160650     2  2319       5
773074     2   379       5
674022     2  2177       1

In [0]:
svd = SVD(learning_rate=0.001, regularization=0.005, n_epochs=100, n_factors=15, min_rating=1, max_rating=5)

In [35]:
svd.fit(X=recommending_matrix, shuffle=False)

Preprocessing data...

Epoch 1/100  | took 0.0 sec
Epoch 2/100  | took 0.0 sec
Epoch 3/100  | took 0.0 sec
Epoch 4/100  | took 0.0 sec
Epoch 5/100  | took 0.0 sec
Epoch 6/100  | took 0.0 sec
Epoch 7/100  | took 0.0 sec
Epoch 8/100  | took 0.0 sec
Epoch 9/100  | took 0.0 sec
Epoch 10/100 | took 0.0 sec
Epoch 11/100 | took 0.0 sec
Epoch 12/100 | took 0.0 sec
Epoch 13/100 | took 0.0 sec
Epoch 14/100 | took 0.0 sec
Epoch 15/100 | took 0.0 sec
Epoch 16/100 | took 0.0 sec
Epoch 17/100 | took 0.0 sec
Epoch 18/100 | took 0.0 sec
Epoch 19/100 | took 0.0 sec
Epoch 20/100 | took 0.0 sec
Epoch 21/100 | took 0.0 sec
Epoch 22/100 | took 0.0 sec
Epoch 23/100 | took 0.0 sec
Epoch 24/100 | took 0.0 sec
Epoch 25/100 | took 0.0 sec
Epoch 26/100 | took 0.0 sec
Epoch 27/100 | took 0.0 sec
Epoch 28/100 | took 0.0 sec
Epoch 29/100 | took 0.0 sec
Epoch 30/100 | took 0.0 sec
Epoch 31/100 | took 0.0 sec
Epoch 32/100 | took 0.0 sec
Epoch 33/100 | took 0.0 sec
Epoch 34/100 | took 0.0 sec
Epoch 35/100 | took 0.0 sec
Epoch 36/100 | took 0.0 sec
Epoch 37/100 | took 0.0 sec
Epoch 38/100 | took 0.0 sec
Epoch 39/100 | took 0.0 sec
Epoch 40/100 | took 0.0 sec
Epoch 41/100 | took 0.0 sec
Epoch 42/100 | took 0.0 sec
Epoch 43/100 | took 0.0 sec
Epoch 44/100 | took 0.0 sec
Epoch 45/100 | took 0.0 sec
Epoch 46/100 | took 0.0 sec
Epoch 47/100 | took 0.0 sec
Epoch 48/100 | took 0.0 sec
Epoch 49/100 | took 0.0 sec
Epoch 50/100 | took 0.0 sec
Epoch 51/100 | took 0.0 sec
Epoch 52/100 | took 0.0 sec
Epoch 53/100 | took 0.0 sec
Epoch 54/100 | took 0.0 sec
Epoch 55/100 | took 0.0 sec
Epoch 56/100 | took 0.0 sec
Epoch 57/100 | took 0.0 sec
Epoch 58/100 | took 0.0 sec
Epoch 59/100 | took 0.0 sec
Epoch 60/100 | took 0.0 sec
Epoch 61/100 | took 0.0 sec
Epoch 62/100 | took 0.0 sec
Epoch 63/100 | took 0.0 sec
Epoch 64/100 | took 0.0 sec
Epoch 65/100 | took 0.0 sec
Epoch 66/100 | took 0.0 sec
Epoch 67/100 | took 0.0 sec
Epoch 68/100 | took 0.0 sec
Epoch 69/100 | took 0.0 sec
Epoch 70/100 | took 0.0 sec
Epoch 71/100 | took 0.0 sec
Epoch 72/100 | took 0.0 sec
Epoch 73/100 | took 0.0 sec
Epoch 74/100 | took 0.0 sec
Epoch 75/100 | took 0.0 sec
Epoch 76/100 | took 0.0 sec
Epoch 77/100 | took 0.0 sec
Epoch 78/100 | took 0.0 sec
Epoch 79/100 | took 0.0 sec
Epoch 80/100 | took 0.0 sec
Epoch 81/100 | took 0.0 sec
Epoch 82/100 | took 0.0 sec
Epoch 83/100 | took 0.0 sec
Epoch 84/100 | took 0.0 sec
Epoch 85/100 | took 0.0 sec
Epoch 86/100 | took 0.0 sec
Epoch 87/100 | took 0.0 sec
Epoch 88/100 | took 0.0 sec
Epoch 89/100 | took 0.0 sec
Epoch 90/100 | took 0.0 sec
Epoch 91/100 | took 0.0 sec
Epoch 92/100 | took 0.0 sec
Epoch 93/100 | took 0.0 sec
Epoch 94/100 | took 0.0 sec
Epoch 95/100 | took 0.0 sec
Epoch 96/100 | took 0.0 sec
Epoch 97/100 | took 0.0 sec
Epoch 98/100 | took 0.0 sec
Epoch 99/100 | took 0.0 sec
Epoch 100/100 | took 0.0 sec

Training took 4 sec

In [0]:
testing_data = pd.read_csv('drive/My Drive/Homeworks/RecommendedSystem/itmo-rs-autumn2019-track1/test_items.csv')
testing_data = testing_data.rename(columns={'user_id' : 'u_id', 'item_id': 'i_id'})

In [38]:
testing_data.head()

   Id  u_id  i_id          ts
0   0  2495  1510  1476797791
1   1  2346  1580  1513534315
2   2  2424   828  1516148226
3   3   379   268  1476244372
4   4  1977  2603  1476142205

In [0]:
pred = svd.predict(testing_data)

In [0]:
pred_df = pd.DataFrame(pred, columns=['Predicted'])
pred_df['Id'] = pred_df.index

In [48]:
pred_df.head()

   Predicted  Id
0   3.605452   0
1   2.911165   1
2   2.785621   2
3   4.294967   3
4   3.767122   4

In [0]:
pred_df.to_csv('submission.csv', index=False)

In [0]:
from google.colab import files
files.download('submission.csv')